

.svg-plan ::ng-deep svg path {
    stroke: black;
}

.svg-plan ::ng-deep svg path.room:hover {
    fill: var(--color-grey-dark);
}

.svg-plan ::ng-deep svg path.room {
    fill: var(--color-grey);
}

.svg-plan ::ng-deep svg path.selectedRoom:hover {
    fill: var(--color-warn-dark);
}

.svg-plan ::ng-deep svg path.selectedRoom {
    fill: var(--color-warn);
}

.container {
    height: 100%;
}